DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_root_password
DB_NAME=chatbot_db

MOCK_PASSWORD_FOR_EVERYONE=change_me_or_remove_in_production

SF_LOGIN_API_KEY=your_sf_login_api_key

SAP_EMPLOYEE_API_URL=https://siroqhanaapp.siro.energy/zhr_chatbot_srv/employee
SAP_API_USERNAME=RFC_CBOT
SAP_API_PASSWORD=Siro.2918***

SECRET_KEY_TOKEN=your_secret_key_token

FRONTEND_CHAT_URL=http://localhost:3000
FRONTEND_CALLBACK_URL=http://localhost:3000/auth/callback
FRONTEND_ORIGINS=http://localhost:3000

CHATBOT_BACKEND_API=http://localhost:8000